body {

    margin-top: 100px;
    font-size: 16px;
    background-color: lightgray;

}

.wrapper {

    width: 350px;
    height: 350px;
    margin: 0 auto;
    background-color: white;
    border-radius: 17px;
}

.but {

    margin-left: 190px;
    width: 30px;
    height: 30px;
}

.but:active {
    border: black solid 1px;
    background-color: black;

}

div.side {
    text-align: justify;
    padding-top: 10px;

}

div {
    border-radius: 5px;
    margin-left: 20px;

}

div:not(.q) {
    margin-bottom: 15px;
}

p {
    color: black;
    margin: 0;

}


p:after {
    content: "10:00";
    padding-left: 120px;
}

.size {
    padding: 10px 25px;
    width: 250px;

}

.t {
    background-color: lightgoldenrodyellow;
    border-left: yellow solid 5px;
}

.e {
    background-color: rgba(146, 194, 217, 0.34);
    border-left: blue solid 5px;
}

.q {
    background-color: #d7e8d3;
    border-left: green solid 5px;
}

.t:hover, .e:hover, .q:hover {
    background-color: rgba(236, 203, 234, 0.82);
    text-decoration: underline;
}